body{
    background: url(bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: unset;
    position: relative; 
}

#container{
    background-color: black;
    width: 800px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}